fastapi
uvicorn
sqlalchemy
pillow
opencv-python-headless
imagehash
chromadb
sentence-transformers
python-multipart
passlib
bcrypt==4.1.2
python-jose[cryptography]
python-dotenv
pydantic
pydantic-settings
numpy
PyPDF2
PyPDF2
python-docx
scikit-learn
PyMuPDF